---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - batch
  resources:
  - jobs
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - pods
  - secrets
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - infra.essity.com
  resources:
  - tfruns
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - infra.essity.com
  resources:
  - tfruns/finalizers
  verbs:
  - update
- apiGroups:
  - infra.essity.com
  resources:
  - tfruns/status
  verbs:
  - get
  - patch
  - update
